<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        <legend>mark prediction with depending features</legend>
    </h1>
    <div class="git">
        <a href="https://github.com/laiz-in/StudentMarkPrediction-ML">
            <img src="static\github-icon.png" alt="GitHub">
        </a>
        <h2>this is purely for study purpose. using the dataset consist of 1000 students with minimal features . in real case, number of students and depending features should be much higher in order to get high accuracy. click on the icon for source code</h2>
    </div>
   
    <div class="login">
        
       <form action="{{ url_for('predict_datapoint')}}" method="post">
       
        <div class="mb-3">
            <label class="form-label"></label>
            <select class="form-control" name="gender" placeholder="Enter you Gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="male"> Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label"></label>
            <select class="form-control" name="ethnicity" placeholder="Enter you ethnicity" required>
                <option class="placeholder" selected disabled value="">Select Ethnicity</option>
                <option value="group A">
                    Group A
                </option>
                <option value="group B">
                    Group B
                </option>
                <option value="group C">
                    Group C
                </option>
                <option value="group D">
                    Group D
                </option>
                <option value="group E">
                    Group E
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label"></label>
            <select class="form-control" name="parental_level_of_education"
                placeholder="Enter you Parent Education" required>
                <option class="placeholder" selected disabled value="">Select Parent Education</option>
                <option value="associate's degree">
                    associate's degree
                </option>
                <option value="bachelor's degree">
                    bachelor's degree
                </option>
                <option value="high school">
                    high school
                </option>
                <option value="master's degree">
                    master's degree
                </option>
                <option value="some college">
                    some college
                </option>
                <option value="some high school">
                    some high school
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label"></label>
            <select class="form-control" name="lunch" placeholder="Enter you Lunch" required>
                <option class="placeholder" selected disabled value="">Select Lunch Type</option>
                <option value="free/reduced">
                    free/reduced
                </option>
                <option value="standard">
                    standard
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label"></label>
            <select class="form-control" name="test_preparation_course" placeholder="Enter you Course"
                required>
                <option class="placeholder" selected disabled value="">Select Test course</option>
                <option value="none">
                    None
                </option>
                <option value="completed">
                    Completed
                </option>
            </select>
        </div>
        <div id ="mark" class="mb-3">
            <label class="form-label"></label>
            <input class="form-control" type="number" name="reading_score"
                placeholder="Enter your reading score" min='0' max='100' />
        </div>
        <div  id ="mark-w"class="mb-3">
            <label class="form-label"></label>
            <input class="form-control" type="number" name="writing_score"
                placeholder="Enter your writing Score" min='0' max='100' />
        </div>
        <div id = "btn">
            <input class="btn btn-primary" type="submit" value="approximate math score" required />
        </div>
    </form>

      
    <h2>
         {{results}}
    </h2>
</body>
</html>